.current-weather-card {
    flex-grow: 2;
    width: 60vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.current-weather-container {
  display: flex;
  flex-direction: row;
}

/* flexbox that should be rows */
.current-card {
  display: flex;
  flex-direction: row;
  background-color: rgb(203, 201, 201);
  border-radius: 8px;
  text-align: left;
  padding: 5px 25px 5px 25px;
  height: 20%;
}

/* Current weather card... box 1 */
.current-weather {
  width:20%;
}

.current-weather1 {
  width:25%;
}

.current-temperature {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
  align-self: center;
}

.weather-by-hour {
  /* background-color: red; */
  color: black;
}

H3 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

p {
  text-align: center;
}

.p1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.weather-icon{
  padding-left: 10%;
  height: 100px;
  width: 100px;
}
