body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body and code need to be above */
.App {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.card {
  background-color: rgb(206, 203, 203);
  border-radius: 8px;
  text-align: center;
  padding: 10px 25px 10px 25px;
  flex: 150px;
  flex-grow: 0;
  flex-shrink: 0;
}

.locationBanner {
  width: 100vw;
  color: white;
  font-weight: normal;
  font-size: larger;
}

.timeBanner {
  width: 100vw;
  color: white;
  font-weight: normal;
}

#bold {
  font-weight: bold;
}

.forecast-card-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

#app-day {
  background-color: rgb(30, 104, 133);
  background-image:url(https://wallpapercave.com/wp/wp2823618.jpg);
}

#app-night {
  background-color: rgb(12, 7, 43);
  background-image:url(https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80);
}

