.weather-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.weather-alert-container {
    background-color: red;
}