.weather-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.weather-alert-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.weather-alert-item {
    background-color: rgb(228, 176, 62);
    padding: 5px;
    border-radius: 5px;
    min-width: 200px;
    font-weight: 500;
    opacity: 60%;
}

.weather-alert-item:hover {
    opacity: 100%;
}