.App {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(30, 104, 133);
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 10px;
}

#input-search {
  border-radius: 10px;
  border: 0;
  height: 50px;
  width: 600px;
  margin: 20px 0px 0px 0px;
  font-size: xx-large;
  padding: 10px;
}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.card {
  background-color: rgb(206, 203, 203);
  border-radius: 8px;
  text-align: center;
  padding: 10px 25px 10px 25px;
}

.locationBanner {
  width: 100vw;
  color: white;
  font-weight: normal;
}

.timeBanner {
  width: 100vw;
  color: white;
  font-weight: normal;
}

#bold {
  font-weight: bold;
}

.forecast-card-text {
  margin-top: 0px;
  margin-bottom: 0px;
}