.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw
}

.card {
  background-color: white;
}

.locationBanner {
  width: 100vw;
}